*{
    margin: 0px;
    padding: 0px;
}
.image{
    padding: 5px;
    margin-top: 30px;
    width: 500px;
    height: 100px;
}
.container{
    font-family: Roboto;
    display: flex;
    flex-direction: row;
    padding: 100px;
    word-spacing: 3px;
}
p{
    font-family: poppins;
}
.content{
    margin-left: 150px;
    margin-top: 90px;
    padding: 10px;
    color: #000000;
    height: 400px;
}
h3{
    font-size: 30px;
}
.highlight{
    color: #008000;
    font-weight: bold;
    font-size: 20px;
}
.underline{
    font-size: 20px;
    text-decoration: underline !important;
}
.box{
    background-color: #f7f1f1;
    width: fit-content;
    padding: 9px;
}
.flexer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: unset;
    gap: 200px;
}

.item {
    align-self: auto;
    height: 150px;
    width: 150px;
    background-color: gray;
}
.card{
    margin: 20px;
    margin-left: 40px;
    width: 400px;
}
.line{
    display: flex;
    flex-direction: row;
}